.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 5vh;
  font-family: monospace;
  font-weight: bold;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-form {
  width: fit-content;
  margin: auto;
  border-style: outset;
  min-height: 400px;
  background-color: #282c34;
  color: white;
  border-radius: 14px;
}

.login-form form {
  padding-top: 10%;
}

.login-container .row {
  margin-top: 10%;
}

.button {
  min-width: 6em;
  height: 2.5em;
  padding: 0 1em;
  border-radius: 10px;
  border: none;
}

.error {
  color: red;
  margin: 0;
}

.form-label {
  display: block;
}
.form-input {
  width: 100%;
}

.form-button-div {
  padding: 1em 0;
  text-align: center;
}

.form-group {
  padding: 0.5em 2.5em;
}
